html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4rem;
    background-color: rgb(59, 59, 59);
    color: whitesmoke;
}

.playernumber {
    border: 1px solid black;
}

.textarea {
    border: 1px solid black;
    margin: 1rem;
    padding: 0.5rem;
    width: 90%;
}

.kepszoveg-div {
    border: 1px solid rgba(0, 0, 0, 0.404);
    margin: 1rem;
    padding: 0.5rem;
    width: 100%;
}

.button-box {
    display: flex;
    gap: 1rem;
}

.text-btn {
    padding: 0.3rem;
    border-radius: 0.3rem;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: rgb(53, 228, 67);
    transition-duration: 0.3s;
}

.playersname1 {
    padding: 0.5rem;
    border: 1px solid wheat;
    display: inline-block;
    margin: 1rem;
}

.playersname1:hover {
    cursor: pointer;
}

.playersnamep {
    padding: 0.4rem;
}

.playernamediv {
    display: flex;
    align-items: center;
}